docker.enabled = false
singularity.enabled = true
singularity.cacheDir = "/home/gerrit/scratch/h3abionet16S/singularity-containers"

process {

    cache = true

    stageInMode='symlink'
    stageOutMode='rsync'

    $uparseRenameFastq.container='/home/gerrit/scratch/h3abionet16S/singularity-containers/quay.io_h3abionet_org_h3a16s-in-house-2017-05-29-7b38907e761a.img';    
    $uparseFastqMerge.container='/home/gerrit/scratch/h3abionet16S/singularity-containers/h3abionet_org_h3a16s-usearch-2017-10-03-b8ed6416a4b3.img';
    $uparseFilter.container='/home/gerrit/scratch/h3abionet16S/singularity-containers/h3abionet_org_h3a16s-usearch-2017-10-03-b8ed6416a4b3.img';
    $uparseDerepWorkAround.container='/home/gerrit/scratch/h3abionet16S/singularity-containers/quay.io_h3abionet_org_h3a16s-in-house-2017-05-29-7b38907e761a.img';
}

params {
    data = "/home/gerrit/scratch/h3abionet16S/dog_stool_two_samples_only"
    out = "/home/gerrit/scratch/h3abionet16S/nextflow-output"

    // usearch specific settings
    // for usearch merge
    fastqMaxdiffs = 3
    // for usearch filter
    fastqMaxEe = 0.1

}
