docker.enabled = false
singularity.enabled = true
singularity.cacheDir = "/scratch/DB/bio/singularity-containers"

process {

    cache = true

    stageInMode='symlink'
    stageOutMode='rsync'

    $uparseRenameFastq.container='/scratch/DB/bio/singularity-containers/h3abionet_org_h3a16s-in-house-2017-10-04-06655c26a94b.img';    
    $uparseFastqMerge.container='/scratch/DB/bio/singularity-containers/h3abionet_org_h3a16s-usearch-2017-10-04-7f29b5c92f39.img';
    $uparseFilter.container='/scratch/DB/bio/singularity-containers/h3abionet_org_h3a16s-usearch-2017-10-04-7f29b5c92f39.img';
    $uparseDerepWorkAround.container='/scratch/DB/bio/singularity-containers/h3abionet_org_h3a16s-in-house-2017-10-04-06655c26a94b.img';
}

params {
    data = "/researchdata/fhgfs/gerrit/h3abionet16S/dog_stool_two_samples_only"
    out = "/researchdata/fhgfs/gerrit/h3abionet16S/nextflow-output"

    // usearch specific settings
    // for usearch merge
    fastqMaxdiffs = 3
    // for usearch filter
    fastqMaxEe = 0.1
}

profiles{
    standard {
        process.executor = 'local'
    }
  
   pbs {
        process.executor = 'pbs'
        process.queue = 'UCTlong'
    }
}

