docker.enabled = true
singularity.enabled = false
singularity.cacheDir = "$PWD"

params {
    data = "/home/gerrit/scratch/h3abionet16S/dog_stool_two_samples_only"
    out = "/home/gerrit/scratch/h3abionet16S/nextflow_out"

    // usearch specific settings
    // for usearch merge
    fastqMaxdiffs = 3
    // for usearch filter
    fastqMaxEe = 0.1

}
